<% layout('layout') %>

<div id="wrapper">

    <div id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/">Rate - Company</a>
        </div>

        <ul class="sidebar-nav">
            <img src="/images/logo2.png" class="img-responsive img-circle profile_img" alt="logo image">
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>Guest</h2>
            </div>
            <div class="helpdiv" style="margin:2px;">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Use</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">"Rate - Company" is a web application, Through this App,a registered
                                User can add a
                                company and Vote for it to be the most rated company ,<b>Note</b>,only Companies with
                                high Rate stars apear on top of the top rating list</div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Rate Company /Bussiness</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Register Your company on <b>"Rate - Company"</b> such that people can rate your
                                company among the most performing company/organisation
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Find Company</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Are you an employee of a company registered on <b>"Rate - Company"</b> , and you can not
                                find it? ... it easy use the search option , enter your company name.
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </ul>
    </div>


    <div id="page-content-wrapper">
        <% include partials/nav %>
        <div class="container-fluid main_body">
            <div class="marqueediv" style="padding:5px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); margin-bottom: 5px;">
                <marquee>
                    <span style="font-size: 14px;">
                        Welcome to Rate - Company <small>"evaluate and rate app"</small>
                    </span>
                </marquee>
            </div>

            <div class="ul_links">
                <ul>
                    <li><a href="/">Home</a></li> |
                    <li><a href="/companies">All Companies</a></li>
                </ul>
            </div>

            <div class="bodyDiv">
                <h4 style="">Companies</h4>

                <% arrayAverage = function(arr) {
                    return _.reduce(arr, (num1, num2) => {
                        return num1 + num2;
                    }, 0) / (arr.length === 0 ? 1 : arr.length);
                } %>


                <% for(var i = 0; i < data.length; i++) {%>
                <% var total = arrayAverage(data[i].ratingNumber) %>


                <div class="col-xs-12 col-md-6 col-lg-4 companyListDiv">
                    <a href="/login">
                        <img src="/uploads/<%= data[i].image %>" class="companyListItemLogo">

                        <div class="companyListItemInfo">
                            <h5 class=""><%= data[i].name %></h5>
                            <span class="">
                                <i class="star" data-score="<%= total %>"></i>
                                (<%= data[i].ratingNumber.length %>)
                            </span><br>
                            <i class="fa fa-building-o "> <%= data[i].sector %></i><br>
                            <i class="fa fa-map-marker "> <%= data[i].city %>, <%= data[i].country %></i>
                        </div>

                    </a>
                </div>
                <% } %>
            </div>

        </div>
    </div>

</div>